[submodule "hugo-theme-noteworthy"]
	path = hugo-theme-noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
