<script async data-id="101410015" src="//static.getclicky.com/js"></script>

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

<style type="text/css">
{{ if .Params.accent }}
  body {
    background-color: {{ .Params.accent.background.color }};
    --primary: {{ .Params.accent.text.primary }};
    --secondary: {{ .Params.accent.text.secondary }};
    --tertiary: {{ .Params.accent.text.tertiary }};
    --content: {{ .Params.accent.text.content }};
  }
{{ end }}

  .post-content div {
    margin: 1em 0;
  }
</style>

